
.question_text {
	color: blue;
}

.settings {
	border: solid 1px;
}
.settings * {
	font-size: 0.5em;	
}

.line * {
	display: inline;
}

.wrong {
	color: red;
}

.right {
	color: green;
}

.hidden {
	display: none;
}

#wronglist {
	font-size: .8em;
	color: red;
}

#wronglist .wronganswer {
	color: orange;
}
